*.pyc
*.db
__pycache__

.DS_Store
Python_Cookbook_3rd_Edition.pdf
gitignore_prev
hello.txt
ingredients/.DS_Store
ingredients/bootstrap-colorpicker/
ingredients/editable/
ingredients/file_events/test1/
ingredients/lz-string-python/
ingredients/lz-string/
ingredients/psutil2.py
ingredients/psutil_snippets.py
ingredients/sb-admin-2/
ingredients/tornado_signal_shutdown.py
ingredients/vis-4.18.1/
loop.sh
mymon.xcf
server/.DS_Store
server/config.json
server/mymon_err.log
server/mymon_out.log
server/plugins/system/static/js/jquery-resizable.min.js
server/run.sh
server/static/.DS_Store
server/static/img/mymon_red.png
server/static/plugins/
server/templates/plugins/
server/webtail.json
site.zip
site/.DS_Store
site/.gitignore
site/LICENSE
site/README.md
site/favicon/
site/gulpfile.js
site/img/
site/less/
site/package.json
site/vendor/magnific-popup/
site/vendor/scrollreveal/
tornado.pdf
