<style type="text/css">
.vis-point {
    stroke-width:2px;
    fill-opacity:1.0;
}

.vis-legend-background {
    stroke-width:1px;
    fill-opacity:0.9;
    fill: #ffffff;
    stroke: #c2c2c2;
}

.vis-outline {
    stroke-width:1px;
    fill-opacity:1;
    fill: #ffffff;
    stroke: #e5e5e5;
}

.vis-icon-fill {
    fill-opacity:0.3;
    stroke: none;
}

div.description-container {
    float:left;
    height:30px;
    width:160px;
    padding-left:5px;
    padding-right:5px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* So that we'll see the end of the string */
    direction:rtl;
    text-align:left;
}

div.icon-container {
    float:left;
}

div.legend-element-container {
    display:inline-block;
    width:200px;
    height:40px;
    border-style:solid;
    border-width:1px;
    border-color: #e0e0e0;
    background-color: #ffffff;
    margin:4px;
    padding:4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}
div.legend-element-container.switched_off {
    background-color: #d3e6ff;
}

svg.legend-icon {
    width:30px;
    height:30px;
}

div.external-legend {
    position:relative;
    margin-left: -5px;
    width: 100%;
}

.daterange td {
    padding-right: 5px;
}
</style>

<br />
<div class="row" id="totalmem">
Getting memory...
</div>
<br />
<div class="row">
    <table class="daterange">
        <tr>
            <td>
                Period:
            </td>
            <td>
                <input type="text" style='width:190px;' id="idcalpick" class="form-control">
            </td>
            <td>
                <a class='btn btn-default' onClick="sendDateRange()">Get Data</a>
            </td>
        </tr>
    <table>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div id="visjs">
        </div>
        <br />
    </div>
</div>


<script>
    var mappings;
    var key_mappings = 'charts:mappings';
    var graph2d_procsmem;
    var graph2d_totalmem;
    var procs_groups;
    var tlmem_groups;

    function on_view_unloading()
    {
        console.log("memory view unloading")
    }

    $(document).ready(function() {
        /*
        $('.opencal').click(function() {
            $('#idcalpick').click();
        });
        */
        mappings = UI.get_global(key_mappings)

        var ranges = {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        };

        $('#idcalpick').daterangepicker({
            ranges: ranges,
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            timePicker: true,
            timePickerIncrement: 30,
        }, function(start, end, label) {
            // console.log(label)
        });

        reqCurrNem()
    });

    function reqCurrNem()
    {
        var json = {request:'currmem'};
        UI.postRequestSilent(json, processCurrMem)
    }

    function sendDateRange()
    {
        var start = $('#idcalpick').data('daterangepicker').startDate.unix()
        var end = $('#idcalpick').data('daterangepicker').endDate.unix()
        var json = {request:'memlog', start:start, end:end};
        if (mappings == null) {
            // No mappings from process code to process name yet, request them
            // to be returned with the processes info
            json['get_mappings'] = 1;
        }

        document.getElementById('visjs').innerHTML = '';
        graph2d_procsmem = null;
        graph2d_totalmem = null;
        procs_groups = null;
        tlmem_groups = null;

        UI.postRequest(json, processResult)
    }

    function processCurrMem(data)
    {
        var reply = JSON.parse(data);
        var mb = 1024 * 1024
        var used = Math.floor(reply.used/mb) + "MB"
        var avail = Math.floor(reply.available/mb) + "MB"
        var free = Math.floor(reply.free/mb) + "MB"
        var html = "Used:<b>" + used + "</b>, Available:<b>" + avail + "</b>, Free:<b>" + free + "</b>";
        $("#totalmem").html(html);
    }

    function processResult(data)
    {
        // Total memory graph container
        var visdisplay = '<h5>System Memory</h5><div id="total_memchart"></div>';
        visdisplay += '<br /><h5>Processes Memory</h5>';
        // Processes graph container
        visdisplay += '<div id="procs_memchart"></div>';
        // Processes graph external legend container
        visdisplay += '<div style="height:100px; overflow-y: auto; background-color:#cdcdcd"><center>';
        // Processes graph external legend
        visdisplay += '<div id="Legend" class="external-legend"></div>';
        visdisplay += '</center></div>'

        document.getElementById('visjs').innerHTML = visdisplay;

        var reply = JSON.parse(data);
        console.log(reply);

        var pinfo = reply.pinfo
        if ('mappings' in pinfo) {
            mappings = pinfo.mappings;
        }
        if ('new_mappings' in pinfo) {
            for (code in pinfo.new_mappings) {
                mappings[code] = pinfo.new_mappings[code];
            }
        }
        var minfo = reply.minfo;
        displayTotalMem(minfo.totalmem, minfo.start_time);

        UI.set_global(key_mappings, mappings);
        displayProcsMem(pinfo.processes, pinfo.start_time, pinfo.memorder);
    }

    //--------------------------------------------------------------------------
    // http://stackoverflow.com/questions/18638900/javascript-crc32
    // http://stackoverflow.com/users/1775178/alex
    var makeCRCTable = function(){
        var c;
        var crcTable = [];
        for(var n =0; n < 256; n++){
            c = n;
            for(var k =0; k < 8; k++){
                c = ((c&1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1));
            }
            crcTable[n] = c;
        }
        return crcTable;
    }

    var crc32 = function(str) {
        var crcTable = window.crcTable || (window.crcTable = makeCRCTable());
        var crc = 0 ^ (-1);

        for (var i = 0; i < str.length; i++ ) {
            crc = (crc >>> 8) ^ crcTable[(crc ^ str.charCodeAt(i)) & 0xFF];
        }

        return (crc ^ (-1)) >>> 0;
    };
    //--------------------------------------------------------------------------

    function str2color(str) {
        var hexstr = crc32(str).toString(16).substr(0,6)
        var pad = '000000'
        var colstr = (pad + hexstr).slice(-pad.length);
        var res = "#";
        for (var i=0; i<6; i+=2) {
            var col = colstr.substr(i,2);
            var num = parseInt(col, 16);
            if (num > 245) col = 'F0';
            if (num < 10) col = '0A';
            res += num;
        }
        return res;
    }

    function displayTotalMem(memhist, start_time)
    {
        memtl_groups = new vis.DataSet();
        var items = [];
        var start = Date.now();

        var memgroups = [
            { 'name':'Used', 'col':'red' },
            { 'name':'Available', 'col':'green' },
            { 'name':'Free', 'col':'blue' },
        ];

        for (var i=0; i<memhist.length; i++) {
            var meminfo = memhist[i];
            var when = (start_time + parseInt(meminfo[0])) * 1000;
            var used  = meminfo[1];
            var avail = meminfo[2];
            var free  = meminfo[3];
            items.push({x:new Date(when), y:used, group: memgroups[0].name});
            items.push({x:new Date(when), y:avail, group: memgroups[1].name});
            items.push({x:new Date(when), y:free, group: memgroups[2].name});
            if (start > when) {
                start = when;
            }
        }

        for (var i=0; i<memgroups; i++) {
            var memgroup = memgroups[i];
            var col = memgroup.col;
            var res = tlmem_groups.add({
                id: memgroup.name,
                content: memgroup.name,
                style:  "fill: #ffffff; fill-opacity:0; stroke-width:2px; stroke: " + col + ";"
            });
        }

        var dataset = new vis.DataSet(items);
        var options = {
            defaultGroup: '',
            legend: true,
            height: '290px',
            dataAxis: {
                left: {
                    title:  {
                        text: "Memory (MBytes)"
                    },
                    format: function (value) {
                        return Math.floor(value / 1000000);
                    }
                }
            },
            sampling: true,
            drawPoints: {enabled:false, size:3},
            interpolation: false,
            start: start,
            end: Date.now()
        };

        var tlmem_container = document.getElementById('total_memchart');
        graph2d_totalmem = new vis.Graph2d(tlmem_container, items, procs_groups, options);
    }

    function displayProcsMem(processes, start_time, memorder)
    {
        procs_groups = new vis.DataSet();
        var items = [];
        var displayed_processes = {};

        var start = Date.now();
        for (var i=0; i<processes.length; i++) {
            var proc = processes[i];
            var code = parseInt(proc[1]);
            var when = (start_time + parseInt(proc[0])) * 1000;
            var mem  = parseInt(proc[2]);
            items.push({x:new Date(when), y:mem, group: code});
            displayed_processes[code] = true;
            if (start > when) {
                start = when;
            }
        }

        for (code in displayed_processes) {
            var name = mappings[code];
            var col = str2color(name)
            // Every separate process will be assigned with its own vis.js group
            var res = procs_groups.add({
                id: code,
                content: name,
                style:  "fill: #ffffff; fill-opacity:0; stroke-width:2px; stroke: " + col + ";",
                options: {
                    /*
                    drawPoints: {
                        style: 'circle',
                        styles: 'fill:'+ col +'; stroke:'+ col +'; stroke-width:1;'
                    }
                    */
                }
            });
            //console.log("result for group.add("+code+") is " + res);
        }

        var procs_container = document.getElementById('procs_memchart');

        var dataset = new vis.DataSet(items);
        var options = {
            height: '290px',
            dataAxis: {
                left: {
                    title:  {
                        text: "Memory (MBytes)"
                    },
                    format: function (value) {
                        return Math.floor(value / 1000000);
                    }
                }
            },
            sampling: true,
            drawPoints: {enabled:false, size:3},
            interpolation: false,
            start: start,
            end: Date.now()
        };

        graph2d_procsmem = new vis.Graph2d(procs_container, items, procs_groups, options);

        populateExternalLegend(memorder);
    }

    /**
    * this function fills the external legend with content using the getLegend() function.
    */
    function populateExternalLegend(memorder) {
        var groupsData = procs_groups.get();
        var legendDiv = document.getElementById("Legend");
        legendDiv.innerHTML = "";

        for (var i = 0; i < memorder.length; i++) {
            var groupid = memorder[i];
            var legend = graph2d_procsmem.getLegend(groupid,30,30);
            if (typeof(legend.icon)=='undefined') {
                console.log("Error: can't find icon for "+groupid)
                continue;
            }
            // create divs
            var containerDiv = document.createElement("div");
            var iconDiv = document.createElement("div");
            var descriptionDiv = document.createElement("div");

            // give divs classes and Ids where necessary
            containerDiv.className = 'legend-element-container';
            containerDiv.id = groupid + "_legendContainer"
            iconDiv.className = "icon-container";
            descriptionDiv.className = "description-container";

            // append class to icon. All styling classes from the vis.css/vis-timeline-graph2d_procsmem.min.css have been copied over into the head here to be able to style the
            // icons with the same classes if they are using the default ones.
            legend.icon.setAttributeNS(null, "class", "legend-icon");

            // append the legend to the corresponding divs
            iconDiv.appendChild(legend.icon);
            descriptionDiv.innerHTML = legend.label;

            descriptionDiv.style.textAlign = "left";
            descriptionDiv.setAttribute("data-toggle", "tooltip")
            descriptionDiv.setAttribute("title", legend.label)
            containerDiv.appendChild(iconDiv);
            containerDiv.appendChild(descriptionDiv);

            // append to the legend container div
            legendDiv.appendChild(containerDiv);

            // bind click event to this legend element.
            containerDiv.onclick = toggleGraph.bind(this,groupid);
        }
    }

    /**
    * This function switchs the visible option of the selected group on an off.
    * @param groupId
    */
    function toggleGraph(groupId) {
        // get the container that was clicked on.
        var container = document.getElementById(groupId + "_legendContainer")
        // if visible, hide
        if (graph2d_procsmem.isGroupVisible(groupId) == true) {
            procs_groups.update({id:groupId, visible:false});
            container.className = container.className + " switched_off";
        }
        else { // if invisible, show
            procs_groups.update({id:groupId, visible:true});
            container.className = container.className.replace("switched_off","");
        }
    }

</script>