<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">charts</h1>

        <br />
        <input type="text" id="idcalpick" class="form-control" style='width:250px;'>

        <br />
        <a class='btn btn-default' onClick="sendDateRange()">Get Data</a>

    </div>
</div>

<script>
        $(document).ready(function() {
            /*
            $('.opencal').click(function() {
              $('#idcalpick').click();
            });
            */

            ranges = {
              'Today': [moment(), moment()],
              'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days': [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            };

            $('#idcalpick').daterangepicker({
                ranges: ranges,
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                timePicker: true,
                timePickerIncrement: 30,
            }, function(start, end, label) {
                console.log(start)
                console.log(end)
                console.log(label)
            });
        });

        function sendDateRange()
        {
            var start = $('#idcalpick').data('daterangepicker').startDate.unix()
            var end = $('#idcalpick').data('daterangepicker').endDate.unix()
            var json = {request:'memlog', start:start, end:end};
            postRequest(json, '/ajax', processResult)
        }

        function processResult(data)
        {
            console.log(data)
        }
        
</script>