{% whitespace all %}
<div id="dashboard">
</div>

<script>
$(document).ready(function() {
    var json = {request:'__dashboard__'};
    UI.postRequest(json, processDashboardInfo)
});

function processDashboardInfo(data)
{
    //console.log(data)
    var reply = JSON.parse(data);
    if (!('dashboard_ui' in reply)) {
        console.log("No html field found in reply");
        return;
    }

    var elems = reply['dashboard_ui'];
    var html = '';
    for (var i=0; i<elems.length; i++) {
        html += elems[i].html
    }
    $('#dashboard').html(html);
}
</script>