<!DOCTYPE html>
<html lang="en">
<!--
    This is the index.html template, rendered via web.py from which two parameters
    are also passed: host, which contains the hostname of this server as it appears
    to the client, and plugins, which is the array of interfaces to the runtime
    plugins that were loaded.
-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mymon</title>

    <!-- Bootstrap Core CSS -->
    <link href="/res/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/res/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/res/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/res/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Page/plugin specific css from here on -->

    {%
        for css_file in plugins_css
    %}
        <link rel="stylesheet" type="text/css" media="all"
        href="/res/{{ css_file }}" />
    {% end %}

    <link rel="stylesheet" type="text/css" media="all" href="/res/css/css_animation.css" />

    <style>
        a { cursor:pointer; }
        .frame {background-color:#f6eefb;}
        .frame-top {background-color: #adadfd;}
    </style>
</head>

<body>

    <div id="wrapper" class="frame">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top frame-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="index.html">mymon</a> -->
                <img height="50" src="/res/img/mymon.png" />
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="left:0px">
                        <!--
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        -->
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar frame" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a onClick="load('dashboard')"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        {%
                             for plugin in plugins
                        %}
                        <li>
                            <a onClick="load('{{ plugin.dir }}/{{ plugin.get_page_name() }}')">
                                {% raw plugin.get_ui_icon_html() %}
                                {{ plugin.get_ui_name() }}
                            </a>
                        </li>
                        {% end %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div id="loading" class="container-fluid" style="display:none">
               <center><img style='margin-top:30%;' src='/res/img/ajax-loader.gif' /><center>
            </div>
            <div id="pageview" class="container-fluid">
            </div>
        </div>

        <!-- wait modal dialog -->
        <div id="waitmodal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Please wait...
                            <!-- html framework for css_animation.css to do it's thing -->
                            <div class="sk-circle">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                                <div class="sk-circle8 sk-child"></div>
                                <div class="sk-circle9 sk-child"></div>
                                <div class="sk-circle10 sk-child"></div>
                                <div class="sk-circle11 sk-child"></div>
                                <div class="sk-circle12 sk-child"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- hidden form to send all AJAX requests to server -->
        <form id='reqform'>
            <input type='hidden' id='idreq' name='packet' />
            {% raw xsrf_form_html() %}
        </form>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery (http://jquery.com/ License:Apache) -->
    <script src="/res/js/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript (http://getbootstrap.com/ License:MIT)-->
    <script src="res/js/bootstrap.min.js"></script>

    <!-- Bootstrap simple dialog box utility (http://bootboxjs.com/ License:MIT) -->
    <script src="res/js/bootbox.min.js"></script>

    <!-- Metis Menu Plugin JavaScript (https://github.com/onokumus/metismenu License:MIT) -->
    <script src="/res/js/metisMenu.min.js"></script>

    <!-- Client framework functions -->
    <script src="/res/js/client-framework.js"></script>

    <!-- Javascript utility functions -->
    <script src="/res/js/utils.js"></script>

    <!-- Start Bootstrap Custom Theme JavaScript
         (https://startbootstrap.com/template-overviews/sb-admin-2/ License:MIT) -->
    <script src="/res/js/sb-admin-2.js"></script>

   <!--
        %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        TODO: for all the JS libraries below and their corresponding CSS files,
        iterate here on server side (i.e Python Tornado scripting) and get them
        from the directory of the appropriate plugin.
        Later versions can enable downloading downloading and installing mymon
        plugins from the UI
        %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    -->
    <script src="/res/js/bootstrap.modal.wrapper.js"></script>

    <!-- https://github.com/mindmup/editable-table License:MIT -->
    <script src="/res/js/mindmup-editabletable.js"></script>

    <!-- Javascrpt date manipulations (https://momentjs.com/ License:MIT) -->
    <script src="/res/js/moment.min.js"></script>

    {%
        for js_file in plugins_js
    %}
        <script src="/res/{{ js_file }}"></script>
    {% end %}

    <script>
        var g_globals = {}

        var g_wait_dialog;

        // Interface for various views loaded into #pageview
        var UI = get_framework({
            ws_url : "ws://{{ host }}/websock/"
        });

        function load(page) {
            UI.load(page);
        }

        $(document).ready(function() {
            load('dashboard')
        });

    </script>
</body>

</html>
