<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Demo project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <style type="text/css"></style>
    </head>
    <body>
        You're in!
        <br />
        <br />
        <a onClick="sendAjax()">Send_Ajax</a>
        <br />
        <a href='/logout'>Logout</a>

        <form id='reqform'>
            <input type='hidden' id='idreq' name='packet' />
            {% raw xsrf_form_html() %}
        </form>

    </body>
    <script type="text/javascript" src="/res/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

        function sendAjax()
        {
            var json = {this:"is", a:"test"}
            postRequest(json, '/ajax', processResult)
        }

        function processResult(data)
        {
            console.log(data)
        }

        function postRequest( jsonData, url, func )
        {
            var jsonStr = JSON.stringify( jsonData );
            $('#idreq').val( jsonStr );
            $.post( url,
                    $('#reqform').serialize(),
                    func,
                    "text" );
        }
    </script>
</html>
