<br />
<style>
#logstream {
    overflow-x:hidden;
    overflow-y:visible;
    background-color: #fdfaff;
    border: 1px solid #adadfd;
    font-family:"Helvetica Narrow","Arial Narrow",Courier;
}
</style>
<a class="btn btn-default" id='idState' onclick="togglePause()" >Pause</a>
<a class="btn btn-default" onclick="clearLog()">Clear</a>
<a class="btn btn-default" onclick="showSettingsModal()">Settings...</a>
<br />
<br />
<div id="logstream"></div>

<script>
var constMonitored = "webtail:monitored_files";
var constSingleWSock = "webtail:wsock_exists";

var g_files = null;

$(document).ready(function() {
    g_files =  UI.get_global(constMonitored);
    adjustLogWindowSize();
});

$(window).on('resize', function() {
    adjustLogWindowSize();
});

function adjustLogWindowSize()
{
    var logw = $('#logstream');
    var logheight = $('#page-wrapper').outerHeight() - logw.offset().top;
    logw.height(logheight);
}

g_autoScroll = 1;
g_scrollState = ['Follow','Pause'];
function togglePause()
{
    g_autoScroll = 1 - g_autoScroll;
    if (g_autoScroll) {
        var elem = document.getElementById('logstream');
        elem.scrollTop = elem.scrollHeight;
    }
    $('#idState').html( g_scrollState[ g_autoScroll ] );
}

function clearLog()
{
    $('#logstream').html('');
}

function write_line(packet)
{
    var lines = packet.l.split("\n");
    html = "";
    for (var i=0; i<lines.length-1; i++) {
        html +=  packet.t + ':' + lines[i] + "<br />";
    }
    var stream = document.getElementById('logstream');

    stream.innerHTML += html;
    if (g_autoScroll)
        stream.scrollTop = stream.scrollHeight;
}

function showSettingsModal()
{
}

var g_handle_replies = {
    "monitored_files" : function(packet) {

    },
    "get_monitored_files" : function(packet) {
        if (!('files' in packet)) {
            console.log("no 'files' in packet")
            return;
        }
        g_files = packet.files;
        UI.set_global(constMonitored, g_files);
    }
}


function set_monitored_files() {
    var req = {
        "request": "monitor_files",
        "files": ["/Users/amnondavid/projects/mymon/hello.txt"]
    }

    conn.send(JSON.stringify(req));
}

var conn = {
    onConnectAck : function(stat) {
        console.log("onConnectAck, status="+stat)
        if (stat == 'error') {
            UI.del_global(constSingleWSock);
        }

        var req = {
            "request": "get_monitored_files"
        }

        conn.send(JSON.stringify(req));
    },
    onData : function(data) {
        //console.log("received:"+data);
        var packet = JSON.parse(data)
        if ('t' in packet && 'l' in packet) {
            write_line(packet);
            return;
        }
        console.log(packet);
        if (!('reply-to' in packet)) {
            return;
        }
        var replyto = packet['reply-to'];
        if (!(replyto in g_handle_replies)) {
            console.log("no handler for reply-to:"+replyto)
            return;
        }
        g_handle_replies[replyto](packet);
    },
    onClose : function() {
        //debugger;
        UI.del_global(constSingleWSock);
        console.log("received onClose");
    }
};

$(document).ready(function() {
    if (UI.get_global(constSingleWSock)) {
        return;
    }

    UI.request_connection("webtail", conn)
    UI.set_global(constSingleWSock, 1);

})
</script>
