<br />
<style>
#logstream {
    overflow-x:auto;
    overflow-y:auto;
    background-color: #fdfaff;
    border: 1px solid #adadfd;
    font-family:monospace,Courier;
    white-space: pre;
}
</style>
<a class="btn btn-default" id='idState' onclick="togglePause()" >Pause</a>
<a class="btn btn-default" onclick="clearLog()">Clear</a>
<a class="btn btn-default" id='idSettings' onclick="showSettingsModal()">Settings...</a>
<br />
<br />
<div id="logstream"></div>

<script>
var constMonitored = "webtail:monitored_files";
var constSingleWSock = "webtail:wsock_exists";

var g_files = null;

$(document).ready(function() {
    g_files =  UI.get_global(constMonitored);
    adjustLogWindowSize();
});

$(window).on('resize', function() {
    adjustLogWindowSize();
});

function adjustLogWindowSize()
{
    var logw = $('#logstream');
    var logheight = $('#page-wrapper').outerHeight() - logw.offset().top;
    logw.height(logheight);
}

g_autoScroll = 1;
g_scrollState = ['Follow','Pause'];
function togglePause()
{
    g_autoScroll = 1 - g_autoScroll;
    if (g_autoScroll) {
        var elem = document.getElementById('logstream');
        elem.scrollTop = elem.scrollHeight;
    }
    $('#idState').html( g_scrollState[ g_autoScroll ] );
}

function clearLog()
{
    $('#logstream').html('');
}

function write_line(packet)
{
    var lines = packet.l.split("\n");
    html = "";
    for (var i=0; i<lines.length-1; i++) {
        html +=  packet.t + ':' + lines[i] + "<br />";
    }
    var stream = document.getElementById('logstream');

    stream.innerHTML += html;
    if (g_autoScroll)
        stream.scrollTop = stream.scrollHeight;
}

var TDH = '<td class="wall">&nbsp;</td>' // just for height
var TDHB = '<td class="wall"><i class="fa fa-frown-o"></i></td>' // just for height

function getFilesFromTable()
{
    var table_files = $("#idMonitored td").not(".wall");
    files = {};
    for (var i=0; i<table_files.length; i++) {
        var file = $.trim(table_files[i].textContent);
        if (file != "") {
            files[file] = 1;
        }
    }
    return files;
}

function updateTable()
{
    var files = getFilesFromTable();
    var html = getTableHTML(files);
    $('#idFilesTable').html(html);
    $('#idMonitored').editableTableWidget();
    $('#idMonitored td').on('change', function(evt, newValue) {
        updateTable()
    });
    g_files = files;
}

function getTableHTML(files)
{
    // Build html table according to contents of g_files
    var colors = [ '#dbe5f7', '#f8edff' ];
    var m = 1;
    var html = '<table id="idMonitored" class="table">';
    html += '<thead><tr><th>Remote files to monitor (click to edit/add)</th><th></th></tr></thead>';
    html += '<tbody>';
    for (var file in files) {
        m = 1 - m;
        html += '<tr><td style="background-color:'+colors[m]+'">'+ file +'</td>';
        var td = TDH;
        if (files[file] == 0) {
            // Server marked this as a bad directory
            td = TDHB;
        }
        html += td + '</tr>';
    }
    m = 1 - m;
    html += '<tr><td style="background-color:'+colors[m]+'"></td>'+ TDH +'</tr>';
    html += '</tbody>';
    html += '</table>';
    return html;
}

function showSettingsModal()
{
    var html = '<div id="idFilesTable">';
    html += getTableHTML(g_files);
    html += '</div>';
    showBSModal({
        title: "WebTail Settings",
        body: html,
        onShow: function() {
            $('#idMonitored').editableTableWidget();
            $('#idMonitored td').on('change', function(evt, newValue) {
                updateTable()
            });
        },
        size: "large",
        actions: [{
            label: 'Cancel',
            cssClass: 'btn-default',
            onClick: function(e){
                $(e.target).parents('.modal').modal('hide');
            }
        },{
            label: 'Confirm',
            cssClass: 'btn-success',
            onClick: function(e){
                $(e.target).parents('.modal').modal('hide');
                set_monitored_files();
            }
        }]
    });

}

var g_handle_replies = {
    "monitor_files" : function(packet) {
        g_files = packet.monitored;
        UI.set_global(constMonitored, g_files); // in case user leaves view
    },
    "get_monitored_files" : function(packet) {
        if (!('files' in packet)) {
            console.log("no 'files' in packet")
            return;
        }
        g_files = packet.files;
        UI.set_global(constMonitored, g_files); // in case user leaves view
    }
}


function set_monitored_files() {

    var req = {
        "request": "monitor_files",
        "files": g_files
    }

    conn.send(JSON.stringify(req));
}

var conn = {
    onConnectAck : function(stat) {
        console.log("onConnectAck, status="+stat)
        if (stat == 'error') {
            UI.del_global(constSingleWSock);
        }

        var req = {
            "request": "get_monitored_files"
        }

        conn.send(JSON.stringify(req));
    },
    onData : function(data) {
        //console.log("received:"+data);
        var packet = JSON.parse(data)
        if ('t' in packet && 'l' in packet) {
            write_line(packet);
            return;
        }
        console.log(packet);
        if (!('reply-to' in packet)) {
            return;
        }
        var replyto = packet['reply-to'];
        if (!(replyto in g_handle_replies)) {
            console.log("no handler for reply-to:"+replyto)
            return;
        }
        g_handle_replies[replyto](packet);
    },
    onClose : function() {
        UI.del_global(constSingleWSock);
        console.log("received onClose");
    }
};

$(document).ready(function() {
    if (UI.get_global(constSingleWSock)) {
        return;
    }

    UI.request_connection("webtail", conn)
    UI.set_global(constSingleWSock, 1);
})
</script>
